# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Data science tools

# Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
print( (3*4)+5 )

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60
print( 200/60 )

3.3333333333333335

## Author
Rajal Borad